#btn{
    display: flex;
    width: 110;
    height: 20;
    background-color: rgb(255, 255, 255);
    transition: 1s;
}

#sequencia{
    padding: 40px;
    position: relative;
    background-color: rgb(210, 215, 219);
    max-width: 400px;
    border-radius: 15px;
    word-wrap: break-word;
}

.especial{
    background-color: rgb(201, 201, 166);
    padding: 0;
    margin: 0;
    max-width: 200px;
}